.UserProfile {
<<<<<<< HEAD

    margin: 5%;

    

}

.Save {

    padding: 2%;
}

.form-button {

    margin: 1%;
}
=======

    margin: 5%;

    

}

.Save {

    padding: 2%;
}


>>>>>>> cbaf7c3615dd829f1658d20e61dcb720a0ea3d08



