.headerContainer {
  background-color: #007bff;
  height: 55px;
  width: 100%;
  position: fixed;
  padding: 5px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  top: 0;
}

.profileImg {
  border: 1px white solid;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.logo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
<<<<<<< HEAD
  height: 40px;
=======
  height: 60px;
>>>>>>> cbaf7c3615dd829f1658d20e61dcb720a0ea3d08
}
